In [5]:
person={"name":"apply","age":24}

In [6]:
sentence=" My name is " + person["name"] + ". My age is  " + str(person["age"])
print(sentence)

 My name is apply. My age is  24

In [8]:
sentance="my name is {} and  i am {} years old .".format(person["name"],person["age"])
sentance

'my name is apply and  i am 24 years old .'

In [30]:
sentance="my name is {name} and  i am {age} years old .".format(**person)
sentance

'my name is apply and  i am 24 years old .'

In [31]:
sentance="my name is {name} and  i am {age} years old .".format(name="radha",age=21)
sentance

'my name is radha and  i am 21 years old .'

### place orders for values

In [9]:
sentance="my name is {0} and  i am {1} years old .".format(person["name"],person["age"])
sentance

'my name is apply and  i am 24 years old .'

In [10]:
sentance="my name is {1} and  i am {0} years old .".format(person["name"],person["age"])
sentance

'my name is 24 and  i am apply years old .'

In [21]:
sentance="my name is {1[name]} and  i am {0[age]} years old .".format(person,person)
sentance

'my name is apply and  i am 24 years old .'

In [20]:
sentance="my name is {0[name]} and  i am {0[age]} years old .".format(person)
sentance

'my name is apply and  i am 24 years old .'

In [23]:
let=["Krishna","21"]
sentance="my name is {0[0]} and  i am {0[1]} years old .".format(let)
sentance

'my name is Krishna and  i am 21 years old .'

In [17]:
tag="h1"
text ="This is a headline"
sentance="<{0}> {1} </{0}>".format(tag,text)
sentance

'<h1> This is a headline </h1>'

In [28]:
class Person():
    def __init__(self,name,age):
        self.name=name
        self.age=age
person1=Person("krishna",24)
sentance="my name is {0.name} and  i am {0.age} years old .".format(person1)
sentance

'my name is krishna and  i am 24 years old .'

# formatting

In [50]:
pi=3.14159234
sentance="pi is equal to {:.03f}".format(pi)
sentance

'pi is equal to 3.142'

In [51]:
for i in range(1,11):
    sentance="The value is {:04}".format(i)
    print(sentance)

The value is 0001
The value is 0002
The value is 0003
The value is 0004
The value is 0005
The value is 0006
The value is 0007
The value is 0008
The value is 0009
The value is 0010

In [52]:
for i in range(1,11):
    sentance="The value is {:4f}".format(i)
    print(sentance)

The value is 1.000000
The value is 2.000000
The value is 3.000000
The value is 4.000000
The value is 5.000000
The value is 6.000000
The value is 7.000000
The value is 8.000000
The value is 9.000000
The value is 10.000000

In [55]:
sentance="1 MB is qual to {:,}bytes".format(1000**2)
sentance

'1 MB is qual to 1,000,000bytes'

In [59]:
import datetime
my_date=datetime.datetime(2019,9,24,12,30,45)
my_date

datetime.datetime(2019, 9, 24, 12, 30, 45)

In [60]:
print(my_date)

2019-09-24 12:30:45

In [61]:
sentance="{:%B %d, %Y}".format(my_date)
sentance

'September 24, 2019'

In [63]:
sentance="{0:%B %d,%Y} fell on a {0:%A} and was the {0:%j} day of the year".format(my_date)
print(sentance)

September 24,2019 fell on a Tuesday and was the 267 day of the year